#conteudo {
	width: 100%;
	vertical-align: middle;
	text-align: center;
}

.bct {
	font-family: Arial;
	font-size: 9px;
	color: #999999;
	padding-left: 15px;

}

.bct a:link {
	colwor: #999999;
	text-decoration: none;

}

.bct a:hover {
	color: #999999;
	text-decoration: underline;

}

.bct a:active {
	color: #999999;
	text-decoration: none;

}
.bct a:visited {
	color: #999999;
	text-decoration: none;

}
.usuario {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: right;
	padding-right: 15px;
	width: 100%;
	text-align: right;
}
.titulopag {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
	font-weight: bold;
}
.textoImperativo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	padding-left: 10px;
	background-repeat: no-repeat;
	padding-bottom: 5px;
	padding-top: 5px;
}
.textoImperativo a:link {
	color: #003366;
		font-size: 11px;

}
.textoImperativo a:hover {
	color: #003366;
		font-size: 11px;

}
.textoImperativo a:visited {
	color: #003366;
		font-size: 11px;
}
.textoImperativo a:active {
	color: #003366;
		font-size: 11px;
}
.campo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	border: 1px solid #003366;
	margin: 3px;
	max-width: 300px;

}
.label {
	text-align: right;
	padding-right: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	white-space: nowrap;
}

.labelElevado {
	text-align: right;
	padding-right: 5px;
    padding-bottom: 7px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
    white-space: nowrap;
}
.labelCampoFixo {
	text-align: left;
	padding-left: 3px;
    padding-bottom: 7px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;    
	color: #000000;
    white-space: nowrap;    	
}
select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	border: 1px solid #003366;
}

.tabelaGrande {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	padding: 10px;


}
.botaoIntuitivo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #669966;
	border: 1px solid #003366;
	height: 22px;
  margin-left: 5px;

}
.botao {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #669966;
	background-color: #FFFFFF;
	border: 1px solid #003366;
	height: 22px;
	margin-left: 5px;
}
.botaodesabilitado {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #bbbbbb;
	background-color: #FFFFFF;
	border: 1px solid #003366;
	height: 22px;
}
.textosimples {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: left;

}
.msgSucesso li {
	background-image:url('/archeion/images/msg_verde.gif');
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	padding-left: 25px;
	background-repeat: no-repeat;
	padding-bottom: 8px;
	padding-top: 8px;
	background-position: left top;
	text-align:left;
	text-decoration: none;
}

.msgLembrete {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	padding-left: 25px;
	background-repeat: no-repeat;
	padding-bottom: 8px;
	padding-top: 8px;
	background-position: left top;
}
.msgAtencao {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	padding-left: 25px;
	background-repeat: no-repeat;
	padding-bottom: 8px;
	padding-top: 8px;
	background-position: left top;
}
.msgErro {
	font-family: Arial;
	font-size: 11px;
	color: #882222;
	padding-left: 25px;
	background-repeat: no-repeat;
	padding-bottom: 8px;
	padding-top: 8px;
	background-position: left top;
}
.msgErro a:link {
	color: #993333;
}
.msgErro a:hover {
	color: #993333;
}
.msgErro a:active {
	color: #993333;
}
.msgErro a:visited {
	color: #993333;
}
.tabela {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: center;
}
.tabela th {
	font-size: 11px;
	color: #ffffff;
	text-align: center;
	background-repeat: repeat-x;
	height: 18px;
	background-color: #669966;
	font-weight: bold;
	white-space: nowrap;
}
.tabela_header {
	font-size: 11px;
	color: #ffffff;
	text-align: center;
	background-repeat: repeat-x;
	height: 18px;
	background-color: #669966;
	font-weight: bold;
	white-space: nowrap;
}
.tabela th a:link {
	color: #ffffff;
	text-align: center;
	height: 18px;
	font-weight: bold;
	text-decoration: none;
}
.tabela th a:hover {
	color: #ffffff;
	text-align: center;
	height: 18px;
	font-weight: bold;
	text-decoration: underline;
}

.tabela th a:visited {
	color: #ffffff;
	text-align: center;
	height: 18px;
	font-weight: bold;
	text-decoration: none;
}
.tabela th a:active {
	color: #ffffff;
	text-align: center;
	height: 18px;
		font-weight: bold;
		text-decoration: none;
}
.tabela tr.even  {
	height: 17px;
	background-color: #f7f7f7;
	text-align: center;
}
.tabela tr.even a:link  {
	height: 17px;
	text-decoration: none;
	text-align: center;
}
.tabela tr.even a:hover  {
	height: 17px;
	text-decoration: underline;
	text-align: center;
}
.tabela tr.odd  {
	height: 17px;
	background-color: #ebebeb;
	text-align: center;
}
.tabela tr.odd a:link  {
	height: 17px;
	text-decoration: none;
	text-align: center;
}
.tabela tr.odd a:hover  {
	height: 17px;
	text-decoration: underline;
	text-align: center;
}

.labelObrigatorio {
	text-align: right;
	padding-right: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #882222;
	white-space: nowrap;
}
.labelRodape {
	text-align: center;
	padding-right: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight:bold;
	white-space: nowrap;
}
.paginacao {
	font-family: Arial;
	font-size: 11px;
	color: #003366;
	height: 20px;
	text-align: right;
	background-position: top;

}
.paginacao a:link {
	color: #003366;
	text-decoration: none;
}
.paginacao a:hover {
	color: #003366;
	background-color: #88bb88;
	text-decoration: underline;
}
.paginacao a:visited {
	color: #003366;
	text-decoration: none;
}
.paginacao a:active {
	color: #003366;
	text-decoration: none;
}

.topo_main {
	background-repeat: repeat-y;
	background-position: left top;
	background-color: #015DA6;
	height: 55px;
	white-space: nowrap;
}

.topo_texto {
	width: 100%;
    color:#ffffff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
}

.rodape_linha {
	height: 4px;
	width:100%;
	background-repeat: repeat-x;
}

.rodape_texto {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
	white-space: nowrap;
}
.cabecalho {
   text-align:left;
   width:98%;
   border-bottom: 1px solid #669966;
   margin-bottom: 10px;
   margin-left: 7px;
   margin-right: 7px;
}
.botaoajuda {
	text-align: right;
  margin: 0px;
  margin-right: 10px;
	padding: 0px;
	float: right;
}
.panel {
   text-align:center;
   width:98%;
   margin-bottom: 10px;
}

.labelDesejavel {
	text-align: right;
	padding-right: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	white-space: nowrap;
}
.campoRadio {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	border: 0px;
	margin: 3px;


}
